footer {
  background-color: var(--cardsColor);
  min-height: auto;
  width: 100%;
}
.footer-content {
  width: 50%;
  margin: auto;
  text-align: center;
}
.footer-content .social {
  display: flex;
  gap: 10px;
  justify-content: center;
  color: var(--titelsColor);
}
.footer-content h3 {
  color: var(--textColor);
}
